footer{
    max-width: 100%;
   
    /* margin: 0 auto; */
    background-color: rgb(55, 55, 56);    
    /* color: #2F415F; */
    color:  #AE2017;
    display: flex;
    flex-direction: column;
    align-items: center;

}